*{
	margin: 0;
	padding: 0;
}
ul{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
li{
	flex: 1;
	list-style-type: none;
}
li>div{
	width: 100px;
	height: 100px;
}
li + li{
	border-top: 1px solid red;
}
